/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald:wght@200;400&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* header-section */

header {
  height: 500px;
  background-color: #3400ff;
}

.logo {
  margin-top: 3%;
  margin-left: 4%;
}

nav {
  margin-top: 2%;
  float: right;
  margin-right: 4%;
  cursor: pointer;
}

.nav-item {
  margin: 0 15px;
  color: #ffffff;
}

.nav-item-active {
  color: #ffffff;
}

.nav-item-active {
  color: #5a31fc;
  background-color: #ffffff;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: 400;
}

.header-text {
  float: left;
  margin-left: 4%;
  margin-top: 5%;
  color: #ffffff;
}

.header-text h2 {
  font-size: 50px;
}

.header-text p {
  margin-top: 0.5%;
  font-size: 20px;
}

.header-image {
  float: right;
}

.companies {
  margin-top: 1%;
  margin-left: 4%;
}

.company-items {
  margin-right: 40px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Righteous", sans-serif;
  color: #1f1f1f;
}

/* API-section */

.api-heading {
  margin-left: 4%;
  margin-top: 7%;
  font-size: 40px;
  font-weight: bolder;
  font-style: bold;
}

.cards {
  margin: 0 4%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-head-active,
.card-head {
  margin-top: 3%;
}

.card-active {
  padding: 40px 25px;
  box-shadow: 0 2px 5px 0 #1f1f1f;
  border-radius: 10px;
}

.card-body {
  font-size: 15px;
}

.cards:last-child::after {
  content: ">";
  background-color: #5a31fc;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* blog-section */
.blog-heading {
  margin-left: 4%;
  margin-top: 3%;
}

.blog-heading > h1 {
  font-size: 40px;
  font-weight: bolder;
  font-style: bold;
}

.blog-cards {
  margin: 0 4%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
}

.blog-card {
  height: 287px;
  width: 40%;
  background-color: #ffffff;
  box-shadow: 0 0 5px #1f1f1f;
  border-radius: 70px 10px 10px 10px;
}

.blog-image {
  float: left;
}

.blog-content {
  position: relative;
  left: 10%;
  top: 10%;
}

.blog-content h3,
h6,
small {
  margin-bottom: 7px;
}

.blog-content h6 {
  color: #7e42fe;
  font-size: 15px;
  font-weight: bold;
}

.blog-bottom {
  position: relative;
  top: 20%;
  left: 10%;
}

.blog-card-bottom-image {
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.blog-author {
  position: relative;
  top: 3%;
  left: 11%;
  font-size: small;
}

/* FAQ-section */

.faq-section {
  height: 400px;
  background-color: #e9edff;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.faq-content {
  position: relative;
  left: 4%;
}

.faq-content h2 {
  margin: 5% 0 2% 0;
  font-size: 40px;
}

.faq-content > :nth-child(2) {
  font-size: 15px;
  color: #1c305a;
  font-weight: 300;
}

.faq-content > :nth-child(3) {
  margin: 10% 0 5% 0;
  font-size: 20px;
  font-weight: 500;
}

.faq-content button {
  background-color: #4617fe;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.faq-image > img {
  height: 400px;
}

/* download-section */

.download-section {
  margin: 5% 4% 0 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.download-email {
  background-color: #e9edff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  height: 50px;
  border-radius: 25px;
}

.download-email > form {
  flex: 1;
}

.download-email > form > input {
  border: none;
  background-color: #e9edff;
  width: 67%;
  height: 50px;
  margin: 0 15px;
  border-radius: 25px;
  padding-left: 5px;
}

.download-email > form > button {
  background-color: #4617fe;
  text-transform: uppercase;
  padding: 15px 35px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
}

/* footer-section */

.footer-section {
  height: 270px;
  margin: 5% 0 0 0;
  background-color: #4617fe;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  margin: 0 0 0 4%;
}

.footer-left > .list {
  margin-top: 5%;
  display: flex;
  list-style-type: none;
}

.footer-left > .list > .list-items {
  margin: 0 20px 0 0;
  color: #ffffff;
  font-size: 15px;
}

.footer-left > .list > .list-items:not(:last-child)::after {
  content: "|";
  margin: 0 0 0 15px;
}

.footer-section > .footer-right {
  margin: 0 4% 0 0;
}

.footer-logos {
  margin: 0 10px;
}

.logos-list {
  display: flex;
  list-style-type: none;
}

.logos-list > .list-items {
  margin: 10px 6px 0 0;
  padding: 0 5px 0 5px;
  color: #ffffff;
  font-size: 15px;
}

.logos-list > .list-items:not(:last-child)::after {
  content: "|";
  margin: 0 0 0 15px;
}

@media screen and (min-width: 481px) {
  .menuIcon {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* header-section */
  header {
    height: fit-content;
    background-color: #3400ff;
  }

  nav {
    display: none;
  }

  header div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4%;
  }

  .logo {
    height: 35px;
    margin: 0;
  }

  .menuIcon {
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
  }

  .header-text {
    float: none;
    margin: 4% 4% 0 4%;
  }

  .header-text h2 {
    font-size: 25px;
    text-align: center;
  }

  .header-text p {
    text-align: center;
    font-size: 16px;
  }

  .header-image {
    float: none;
    height: 360px;
    margin-top: 4%;
  }

  .companies {
    margin: 1% 4% 0 4%;
    display: flex;
    justify-content: space-between;
  }

  .company-items {
    margin: 0;
    text-decoration: none;
    font-size: 15px;
    font-family: "Righteous", sans-serif;
    color: #1f1f1f;
  }

  /* API-section */
  .api {
    margin: 0 4%;
  }

  .api-heading {
    font-size: 30px;
  }

  .cards {
    flex-direction: column;
    row-gap: 20px;
  }

  .cards:last-child::after {
    display: none;
  }

  /* blog-section */
  .blog-heading {
    margin: 3% 4% 0 4%;
  }

  .blog-heading > h1 {
    font-size: 30px;
  }

  .blog-cards {
    margin: 3% 4% 0 4%;
    flex-direction: column;
    row-gap: 20px;
  }

  .blog-card {
    width: fit-content;
    display: flex;
  }

  .blog-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    width: fit-content;
  }

  .blog-content h3 {
    font-size: 15px;
  }

  .blog-bottom {
    display: none;
  }

  .blog-author {
    display: none;
  }

  /* FAQ-section */
  .faq-section {
    height: fit-content;
    flex-direction: column;
  }

  .faq-content {
    margin: 0 4%;
    position: relative;
    left: 0;
  }

  .faq-content h2 {
    text-align: center;
    margin: 5% 0 2% 0;
    font-size: 30px;
  }

  .faq-content > :nth-child(2) {
    text-align: center;
  }

  .faq-content > :nth-child(3) {
    text-align: center;
  }

  .faq-content button {
    position: relative;
    left: 35%;
  }

  .faq-image > img {
    margin: 2% 3%;
    height: 360px;
    width: 94%;
    object-fit: cover;
  }

  /* download-section */
  .download-section {
    flex-direction: column;
  }

  .download-email {
    margin-top: 4%;
    width: 390px;
  }

  .download-email > form > input {
    width: 50%;
  }

  /* footer-section */
  .footer-section {
    height: fit-content;
    flex-direction: column;
  }

  .footer-left {
    margin: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-left > .list > .list-items {
    margin: 0 5px 0 0;
  }

  .footer-section > .footer-right {
    margin: 2% 4%;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
